<h1>FAQ</h1>

<p>
<ul>
	<li><b>What is #stanfordlorax?</b> 
	<p>#stanforlorax is a web app created by Stanford students for Stanford students to participate in improving the university! We are <%= link_to "The Lorax", "https://en.wikipedia.org/wiki/The_Lorax" %> protecting <%= link_to "the tree", "https://en.wikipedia.org/wiki/Stanford_Tree"%>. 
	</p>
	</li>
	<li><b>Why are ideas only 140 characters?</b>
	<p>The goal is to lower the barrier to entry, all you need is an idea or an issue that you want to raise. Once you submit an idea the website automatically creates a forum thread for that idea that you can go to by clicking on the idea. That thread is a great place to discuss the idea with others. Anyone who votes on the idea is subscribed to the forum thread.</p>
	</li>

	<li><b>Who can participate?</b> 
	<p>Anyone with an @stanford.edu email can create an account. You will use your Stanford email to receive a registration code then use your registration code to sign up. This way you are an anonymous, verified Stanford student. We do not link your Stanford email address or  your registration code with your account. We only keep a hash of your email address and registration code for verification. The code for #stanfordlorax is open source and available here: <%= link_to "Github", "https://github.com/StanfordHCI/stanfordvisionplanning" %>
	</p>
	</li>
	<li><b>What is Stanford Vision Planning and how can I participate?</b> 
	<p>Stanford has issued an open call to gather ideas: <%= link_to "What’s your vision for our university and its contribution to the world?", "https://planning.stanford.edu/" %>. We have set up this website to help you find collaborators and submit proposals. For ideas that reach at least 100 upvotes by June 17th we will host an online workshop so that people who voted on that idea can get together and discuss. We will also provide a Mad Libs style template for proposals and link you up to student reps who can help turn your idea into a proposal. We will host all final proposals on this website.
	</p>
	</li>
	<li><b>Who hosts this?</b>
	<p>This project is part of research conducted at the <%= link_to "Stanford HCI group", "http://hci.stanford.edu"%> by Niloufar Salehi, a PhD student in computer science. Her research focuses on using online tools for collaborative and collective action. </p>
	</li>
	<li><b>Who else is involved?</b>
	<p>ASG Student reps, Deb Karhson and Terence Theisen, collaborated in creating #stanfordlorax. </p>
	</li>
	
	</li>
	<li><b>More questions?</b>
	<p>Email: stanford.lorax@gmail.com</p>
	</li>
</ul>
</p>