
<div class="row " > 
<div class="col-xs-12 col-md-10">

    <p><i>Unless someone cares a great deal, the situation will never improve. - The Lorax</i></p>
    <p>We will submit all ideas posted here before the deadline of July 1st to <%= link_to "Stanford Vision Planning", "http://planning.stanford.edu", target: "_blank" %>! </p><p>For ideas that receive more than 50 endorsements we will create a template Google doc for you to collaborate on by adding stories/viewpoints/ideas. For other ideas we will submit them as is. You can discuss an idea by clicking on it!</p>

    <% if logged_in? %>
    <%= render 'shared/idea_form' %>
    <% else %>
    <%= link_to "Sign up to post an idea", signup_path%>
    <% end %> 

  </div>
  <div class="hidden-xs col-md-2">
    <%= image_tag("lorax.jpg", alt: "The lorax") %>
  </div>


</div>



<h3>Ideas</h3>
<p>Vote on ideas or click on an idea to view the forum discussion.</p>
<p><span class="glyphicon glyphicon-ok"></span>
    <span class="sr-only">support</span> I support this idea. 
    </p>
<p>

    <span class="glyphicon glyphicon-pencil"></span>
    <span class="sr-only">write</span> I am willing to help write a proposal based on this idea.
</p>

<%= render 'shared/feed' %>
