<article class="idea panel panel-default" id="idea-<%= idea.id %>">
    <div class="panel-body clearfix">
        <div class="row action">
            <div class="col-sm-1">  
                <div class="vote-action-container">
                    <%= render 'ideas/vote_button', idea: idea, value: 1 %>
                    <%= render 'ideas/vote_button', idea: idea, value: -1 %>
                </div>
            </div>
            <div class="col-sm-11">
                <p class="content lead"><%= idea.content %></p>
            </div>
        </div>
        <footer class="pull-right">
            <%= time_tag idea.created_at do %>
                Posted <%= time_ago_in_words(idea.created_at) %> ago
            <% end %>
            <cite>by <%= idea.user.name %></cite>.
            <% if current_user?(idea.user) %>
                <%= link_to "delete", idea, method: :delete,
                    data: { confirm: "Are you sure?" },
                    title: idea.content %>
            <% end %>
        </footer>
    </div>
</article>



