<article class="idea panel panel-default" id="idea-<%= idea.id %>">
    <div class="panel-body clearfix">
        <div class="row action">
            <div class="col-sm-2">  
                <div class="vote-action-container">
                    <%= render 'ideas/vote_button', idea: idea, value: 1 %>
                    <!-- <%= render 'ideas/vote_button', idea: idea, value: -1 %> -->
                </div>
            </div>
            <div class="col-sm-8">
               <p class="content lead"> 
                    <% if idea.created_at >= 48.hours.ago %>
                        <span class="label label-default">new</span>
                    <% end %>
                    <% if idea.proposal != nil %>
                          <%= link_to "Edit proposal: "+idea.proposal, idea.proposal_link, target: "_blank", class: 'normal-link' %> <br>
                        <%= link_to "Discussion", Thredded::Engine.routes.url_helpers.messageboard_topic_path(messageboard_id: idea.thredded_topic.messageboard_id, id: idea.thredded_topic.id), class: 'normal-link' %> <br>
                        (will be submitted in 3 days)
                     <% elsif idea.thredded_topic != nil %>
                     <%= link_to idea.content, Thredded::Engine.routes.url_helpers.messageboard_topic_path(messageboard_id: idea.thredded_topic.messageboard_id, id: idea.thredded_topic.id), class: 'normal-link' %> 
                     <% else %>
                       <%= idea.content %>
                     <% end %>
                     </p>

            </div>
            <div class="col-sm-2">
            <a href="https://twitter.com/share" class="twitter-share-button" data-size="large" data-text="<%=idea.content%>" data-url="http://www.stanfordlorax.com" data-hashtags="stanfordlorax" data-show-count="false">Tweet</a><script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script><br>
            <%= time_tag idea.created_at do %>
                Posted <%= time_ago_in_words(idea.created_at) %> ago
            <% end %>
            <cite>by <%= idea.user.name %></cite>.
            </div>
        </div>
        <footer class="pull-right">
        
        </footer>
    </div>
</article>



