

<div class ="row">
      
      <h1>
       <%= @user.name %>
      </h1>
      <p><%= link_to "private message", "http://www.stanfordlorax.com/forum/private-topics" %></p>
  
</div>

<div class="row">
  
    <% if @user.ideas.any? %>
      <h3>ideas (<%= @user.ideas.count %>)</h3>
      <ol class="ideas">
        <%= render @ideas %>
      </ol>
      <%= will_paginate @ideas %>
    <% end %>
  
</div>
