<h1>Receive a registration code to sign up</h1>

<p> You will use your Stanford email to receive a registration code then use your registration code to sign up. This way you are an anonymous, verified Stanford student. We do not link your Stanford email address or  your registration code with your account. We only keep a hash of your email address and registration code for verification. The code for #stanfordlorax is open source and available here: <%= link_to "Github", "https://github.com/StanfordHCI/stanfordvisionplanning" %>. <%= link_to "Learn more", faq_path %>.
</p>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
	<%= form_tag(regcodes_create_path, method: "post") do %>
	  <%= label_tag(:email, "Stanford email:") %>
	  <%= text_field_tag(:email, "@stanford.edu", class: 'form-control' ) %>
	  <%= submit_tag("Receive registration code", class: "btn btn-primary") %>
	<% end %>
  </div>
</div>
<br><br><br>
<p>Stanford Lorax is a research project aimed at creating tools for distributed collaboration. By joining you agree to participate in this research. We may gather data and analyze your participation. All data will be anonymized before it is used for research. You may stop participating at any time by leaving the website, there will be no consequences.  While we cannot guarantee that you will receive any benefits from participating in the study, the potential benefits include submitting a proposal to Stanford vision planning. There is minimal risk associated with participating in this research.</p>

<p>You can read this message again at anytime by going to the FAQ page. If you have any questions contact us at stanford.lorax@gmail.com. If you have concerns about this research and would like to speak with someone independent of the research team, you may contact the Stanford IRB at irb2-manager@lists.stanford.edu.</p>